.label_list {
  display: flex;

  .label_list_row {
    height: 32px;
    width: 80px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: $text_c3;
    cursor: pointer;
    border: 1px solid #dcdfe6;
    border-left: none;

    &:first-child {
      border-radius: 4px 0 0 4px;
      border-left: 1px solid #dcdfe6;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
      border-left: none;
    }

    &.active {
      background: $main;
      color: #fff;
      border: 1px solid $main;
    }
  }
}

.timetable {
  padding: 24px;
  background-color: #fff;
  border-radius: 4px;

  .btnbox {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: flex-end;

    .left {
      .end {
        color: $text_c6;
        margin-right: 16px;

        i {
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: #b3b3b3;
          margin-right: 8px;
        }
      }

      .ing {
        color: $text_c6;
        margin-right: 16px;

        i {
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: $tiffany;
          margin-right: 8px;
        }
      }

      .wait {
        color: $text_c6;
        margin-right: 16px;

        i {
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: #ffb418;
          margin-right: 8px;
        }
      }
    }

    .center {
      display: flex;
      align-items: center;

      div {
        width: 200px;
        text-align: center;
        font-size: 18px;
        color: $text_c3;
      }
    }
  }
}
